
<header class="bg-dark">
    <div class="container d-flex flex-wrap justify-content-center py-3 mb-4">
        <a [routerLink]="['home']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4 text-white">Proyecto Final</span>
        </a>

        <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['home']" class="nav-link link-light" aria-current="page">Home</a></li>
        <li class="nav-item"><a [routerLink]="['gifs']" class="nav-link link-light">Trending Gifs</a></li>
        <li class="nav-item"><a [routerLink]="['stickers']" class="nav-link link-light">Trending Stickers</a></li>
        </ul>
    </div>
</header>

