<div class="col-lg-6 col-md-8 mx-auto text-center mt-4">
    <h1 class="fw-light">Giphy API Trendings</h1>
    <p class="lead text-muted">Click on one of the following options to access the Trending <span class="fw-bold text-purple">Gifs</span> or <span class="fw-bold text-purple">Stickers</span>.</p>

</div>
<div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
        <span *ngIf="gifs[0]" class="col col-md-4 offset-md-2">
          <app-card [Image]="gifs[0].images.downsized_large.url" [Type]="'Gifs'" [Title]="'Trending Gifs'" CardLink="/gifs"></app-card>
        </span>
        <span *ngIf="stickers[0]" class="col col-md-4">
          <app-card [Image]="stickers[0].images.downsized_large.url" [Type]="'Stickers'" [Title]="'Trending Stickers'" CardLink="/stickers"></app-card>
        </span>
      </div>
    </div>
</div>
